@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background: url('https://4kwallpapers.com/images/wallpapers/dark-background-abstract-background-network-3d-background-6016x3384-8324.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: none;
}